@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
    background-color: #009dff;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
}

.icon {
    color: #fff;
}

.icon-sn-controller{
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 3em;
    font-size: 2em;
}

.icon-ok{
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 2em;
    font-size: 2em;
}

.icon-plus{
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 2em;
    font-size: 2em;
}

.icon-minus{
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 2em;
    font-size: 2em;
}

.icon-comment{
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 2em;
    font-size: 2em;
}

.icon-trash{
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 2em;
    font-size: 2em;
}